USE [master]
GO
/****** Object:  Database [TrainingAssessmentForm]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE DATABASE [TrainingAssessmentForm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingAssessmentForm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TrainingAssessmentForm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingAssessmentForm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TrainingAssessmentForm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingAssessmentForm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingAssessmentForm]
GO
/****** Object:  Table [dbo].[SessionTrainers]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionTrainers](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[trainee_id] [uniqueidentifier] NOT NULL,
	[department_role] [nvarchar](200) NULL,
	[attended] [bit] NOT NULL,
 CONSTRAINT [PK_SessionTrainers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SessionTrainers_Enrolment] UNIQUE NONCLUSTERED 
(
	[session_id] ASC,
	[trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignOffs]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignOffs](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role] [nvarchar](100) NOT NULL,
	[signature_status] [nvarchar](50) NOT NULL,
	[date_signed] [date] NULL,
	[decision] [nvarchar](50) NULL,
	[comments] [nvarchar](max) NULL,
	[action_items] [nvarchar](max) NULL,
 CONSTRAINT [PK_SignOffs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillsCheck]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillsCheck](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[trainee_id] [uniqueidentifier] NOT NULL,
	[understanding] [bit] NOT NULL,
	[independent] [bit] NOT NULL,
 CONSTRAINT [PK_SkillsCheck] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SkillsCheck_TraineeSession] UNIQUE NONCLUSTERED 
(
	[session_id] ASC,
	[trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraineeFeedback]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraineeFeedback](
	[id] [uniqueidentifier] NOT NULL,
	[session_trainee_id] [uniqueidentifier] NOT NULL,
	[score_objectives_clear] [decimal](4, 2) NULL,
	[score_content_relevant] [decimal](4, 2) NULL,
	[score_trainer_knowledge] [decimal](4, 2) NULL,
	[score_pace_duration] [decimal](4, 2) NULL,
	[score_practical_exercises] [decimal](4, 2) NULL,
	[score_job_effectiveness] [decimal](4, 2) NULL,
	[submitted_at] [datetime2](7) NULL,
 CONSTRAINT [PK_TraineeFeedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TraineeFeedback_OnePerEnrolment] UNIQUE NONCLUSTERED 
(
	[session_trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerReflection]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerReflection](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[what_worked_well] [nvarchar](max) NULL,
	[what_to_change] [nvarchar](max) NULL,
	[supervisor_comment] [nvarchar](max) NULL,
	[effectiveness_rating] [nvarchar](50) NULL,
	[recommendation] [nvarchar](500) NULL,
 CONSTRAINT [PK_TrainerReflection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrainerReflection_OnePerSession] UNIQUE NONCLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingObjectives]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingObjectives](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[display_order] [int] NOT NULL,
	[objective_text] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_TrainingObjectives] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSession]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSession](
	[id] [uniqueidentifier] NOT NULL,
	[trainer_id] [uniqueidentifier] NOT NULL,
	[form_id] [nvarchar](100) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[training_date] [date] NOT NULL,
	[duration_hours] [int] NOT NULL,
	[format] [nvarchar](100) NULL,
	[num_trainees] [int] NOT NULL,
	[target_group] [nvarchar](200) NULL,
	[status] [nvarchar](50) NOT NULL,
	[submitted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TrainingSession] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkplaceFollowUp]    Script Date: 6/2/2026 9:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkplaceFollowUp](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[supervisor_id] [uniqueidentifier] NOT NULL,
	[application_extent] [nvarchar](500) NULL,
	[observed_improvement] [bit] NOT NULL,
	[support_needed] [nvarchar](500) NULL,
	[improvement_details] [nvarchar](max) NULL,
	[barriers_comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkplaceFollowUp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SessionTrainers_Trainee]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_SessionTrainers_Trainee] ON [dbo].[SessionTrainers]
(
	[trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SignOffs_Session]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_SignOffs_Session] ON [dbo].[SignOffs]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SignOffs_User]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_SignOffs_User] ON [dbo].[SignOffs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillsCheck_Trainee]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkillsCheck_Trainee] ON [dbo].[SkillsCheck]
(
	[trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrainingObjectives_Session]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_TrainingObjectives_Session] ON [dbo].[TrainingObjectives]
(
	[session_id] ASC,
	[display_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrainingSession_Date]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_TrainingSession_Date] ON [dbo].[TrainingSession]
(
	[training_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TrainingSession_Status]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_TrainingSession_Status] ON [dbo].[TrainingSession]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrainingSession_Trainer]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_TrainingSession_Trainer] ON [dbo].[TrainingSession]
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkplaceFollowUp_Session]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkplaceFollowUp_Session] ON [dbo].[WorkplaceFollowUp]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkplaceFollowUp_Supervisor]    Script Date: 6/2/2026 9:09:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkplaceFollowUp_Supervisor] ON [dbo].[WorkplaceFollowUp]
(
	[supervisor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SessionTrainers] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[SessionTrainers] ADD  DEFAULT ((0)) FOR [attended]
GO
ALTER TABLE [dbo].[SignOffs] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[SignOffs] ADD  DEFAULT ('Pending') FOR [signature_status]
GO
ALTER TABLE [dbo].[SkillsCheck] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[SkillsCheck] ADD  DEFAULT ((0)) FOR [understanding]
GO
ALTER TABLE [dbo].[SkillsCheck] ADD  DEFAULT ((0)) FOR [independent]
GO
ALTER TABLE [dbo].[TraineeFeedback] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[TrainerReflection] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[TrainingObjectives] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[TrainingObjectives] ADD  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[TrainingSession] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[TrainingSession] ADD  DEFAULT ((0)) FOR [num_trainees]
GO
ALTER TABLE [dbo].[TrainingSession] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[TrainingSession] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[WorkplaceFollowUp] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[WorkplaceFollowUp] ADD  DEFAULT ((0)) FOR [observed_improvement]
GO
ALTER TABLE [dbo].[SessionTrainers]  WITH CHECK ADD  CONSTRAINT [FK_SessionTrainers_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionTrainers] CHECK CONSTRAINT [FK_SessionTrainers_Session]
GO
ALTER TABLE [dbo].[SessionTrainers]  WITH CHECK ADD  CONSTRAINT [FK_SessionTrainers_Trainee] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SessionTrainers] CHECK CONSTRAINT [FK_SessionTrainers_Trainee]
GO
ALTER TABLE [dbo].[SignOffs]  WITH CHECK ADD  CONSTRAINT [FK_SignOffs_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SignOffs] CHECK CONSTRAINT [FK_SignOffs_Session]
GO
ALTER TABLE [dbo].[SignOffs]  WITH CHECK ADD  CONSTRAINT [FK_SignOffs_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SignOffs] CHECK CONSTRAINT [FK_SignOffs_User]
GO
ALTER TABLE [dbo].[SkillsCheck]  WITH CHECK ADD  CONSTRAINT [FK_SkillsCheck_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillsCheck] CHECK CONSTRAINT [FK_SkillsCheck_Session]
GO
ALTER TABLE [dbo].[SkillsCheck]  WITH CHECK ADD  CONSTRAINT [FK_SkillsCheck_Trainee] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SkillsCheck] CHECK CONSTRAINT [FK_SkillsCheck_Trainee]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [FK_TraineeFeedback_SessionTrainee] FOREIGN KEY([session_trainee_id])
REFERENCES [dbo].[SessionTrainers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [FK_TraineeFeedback_SessionTrainee]
GO
ALTER TABLE [dbo].[TrainerReflection]  WITH CHECK ADD  CONSTRAINT [FK_TrainerReflection_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainerReflection] CHECK CONSTRAINT [FK_TrainerReflection_Session]
GO
ALTER TABLE [dbo].[TrainingObjectives]  WITH CHECK ADD  CONSTRAINT [FK_TrainingObjectives_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainingObjectives] CHECK CONSTRAINT [FK_TrainingObjectives_Session]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSession_Trainer] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [FK_TrainingSession_Trainer]
GO
ALTER TABLE [dbo].[WorkplaceFollowUp]  WITH CHECK ADD  CONSTRAINT [FK_WorkplaceFollowUp_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[TrainingSession] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkplaceFollowUp] CHECK CONSTRAINT [FK_WorkplaceFollowUp_Session]
GO
ALTER TABLE [dbo].[WorkplaceFollowUp]  WITH CHECK ADD  CONSTRAINT [FK_WorkplaceFollowUp_Supervisor] FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[WorkplaceFollowUp] CHECK CONSTRAINT [FK_WorkplaceFollowUp_Supervisor]
GO
ALTER TABLE [dbo].[SignOffs]  WITH CHECK ADD  CONSTRAINT [CHK_SignOffs_Decision] CHECK  (([decision] IS NULL OR ([decision]='Pending' OR [decision]='Rejected' OR [decision]='Approved')))
GO
ALTER TABLE [dbo].[SignOffs] CHECK CONSTRAINT [CHK_SignOffs_Decision]
GO
ALTER TABLE [dbo].[SignOffs]  WITH CHECK ADD  CONSTRAINT [CHK_SignOffs_Status] CHECK  (([signature_status]='Rejected' OR [signature_status]='Signed' OR [signature_status]='Pending'))
GO
ALTER TABLE [dbo].[SignOffs] CHECK CONSTRAINT [CHK_SignOffs_Status]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score1] CHECK  (([score_objectives_clear] IS NULL OR [score_objectives_clear]>=(1) AND [score_objectives_clear]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score1]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score2] CHECK  (([score_content_relevant] IS NULL OR [score_content_relevant]>=(1) AND [score_content_relevant]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score2]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score3] CHECK  (([score_trainer_knowledge] IS NULL OR [score_trainer_knowledge]>=(1) AND [score_trainer_knowledge]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score3]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score4] CHECK  (([score_pace_duration] IS NULL OR [score_pace_duration]>=(1) AND [score_pace_duration]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score4]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score5] CHECK  (([score_practical_exercises] IS NULL OR [score_practical_exercises]>=(1) AND [score_practical_exercises]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score5]
GO
ALTER TABLE [dbo].[TraineeFeedback]  WITH CHECK ADD  CONSTRAINT [CHK_TF_Score6] CHECK  (([score_job_effectiveness] IS NULL OR [score_job_effectiveness]>=(1) AND [score_job_effectiveness]<=(5)))
GO
ALTER TABLE [dbo].[TraineeFeedback] CHECK CONSTRAINT [CHK_TF_Score6]
GO
ALTER TABLE [dbo].[TrainerReflection]  WITH CHECK ADD  CONSTRAINT [CHK_TrainerReflection_Rating] CHECK  (([effectiveness_rating] IS NULL OR ([effectiveness_rating]='Poor' OR [effectiveness_rating]='Fair' OR [effectiveness_rating]='Good' OR [effectiveness_rating]='Excellent')))
GO
ALTER TABLE [dbo].[TrainerReflection] CHECK CONSTRAINT [CHK_TrainerReflection_Rating]
GO
ALTER TABLE [dbo].[TrainingObjectives]  WITH CHECK ADD  CONSTRAINT [CHK_TrainingObjectives_Order] CHECK  (([display_order]>=(1)))
GO
ALTER TABLE [dbo].[TrainingObjectives] CHECK CONSTRAINT [CHK_TrainingObjectives_Order]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [CHK_TrainingSession_Duration] CHECK  (([duration_hours]>(0)))
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [CHK_TrainingSession_Duration]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [CHK_TrainingSession_NumTrainees] CHECK  (([num_trainees]>=(0)))
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [CHK_TrainingSession_NumTrainees]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [CHK_TrainingSession_Status] CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Submitted' OR [status]='Draft'))
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [CHK_TrainingSession_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_Role] CHECK  (([role]='admin' OR [role]='supervisor' OR [role]='trainee' OR [role]='trainer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_Role]
GO
USE [master]
GO
